body
{
    background: #1e1f24;
    text-align: center;
    color: #333;
    font-family: Impact;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera
{
    background: brown;
    color: white;
    margin: 0;
    padding: o.5em;
    font-weight: bold;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
}
#contenedor
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid white;
    margin: 0 auto;
}

#cabecera #logo
{
    width: 20px;
    vertical-align: middle;
}
#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#contenedor h1
{
    font-size: 20px;
}

#post
{
    padding: 1em;
    background: white;
}